@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

table, td, th {
  border: 1px solid #ccc;
}

td {
  height: 180px;
}

.content-red {
  color: #51063f;
  background-color: #f2bcbc;
  border-radius: 2px;
}

.content-green {
  background-color: #d1e0bf;
  color: #6b7e54;
  border-radius: 2px;
}

.content-blue {
  color: #38448e;
  background-color: #d2d6f0;
  border-radius: 2px;
}
